.chess-layout {
    flex-direction: column;

    > div { flex: auto; width: 100%; }

    .img-block {
        padding: 0 0 1.5rem;
        img { display: block; width: 100%; height: auto; }
    }
    .text-block {
        padding: 0;
    }

    &.img-right {
        .img-block { order: 1; padding: 0 0 1.5rem; }
        .text-block { order: 2; padding: 0; }
    }
}