.chess-layout {
    display: flex; flex-flow: row nowrap; justify-content: flex-start; align-items: flex-start;

    > div { flex: 1; width: 50%; }

    .img-block {
        padding: 0 1.25rem 0 0;
        img { display: block; width: 100%; height: auto; }
    }
    .text-block {
        padding: 0 0 0 1.25rem;
        p { font-size: 1.313rem; font-weight: 300; text-align: justify; margin-top: 0; }
    }

    &.img-right {
        .img-block { order: 2; padding: 0 0 0 1.25rem; }
        .text-block { order: 1; padding: 0 1.25rem 0 0; }
    }
}