a {
	color: var(--color-brand); transition: all 0.3s;
	&:hover { color: #cd3200; }
}

figure {
  display: block; margin: 0; padding: 0;
  img { display: block; width: 100%; height: auto; }
}

.inner-row {
	max-width: var(--max-content-width); margin: 0 auto; position: relative;

  &.text-block { max-width: var(--max-text-width); }
}

.h-padding { padding: 0 1.5rem; }

.v-spacer-small { overflow: hidden; height: 1rem; }
.v-spacer-normal { overflow: hidden; height: 2rem; }
.v-spacer-large { overflow: hidden; height: 4rem; }

.text-align-center, .text-block .text-align-center { text-align: center; }
.text-align-left, .text-block .text-align-left { text-align: left; }
.text-align-right, .text-block .text-align-right { text-align: right; }
.text-align-justify, .text-block .text-align-justify { text-align: justify; }
.text-color-brand, .text-block .text-color-brand { color: var(--color-brand); }
.text-enlarged, .text-block .text-enlarged { font-size: 1.313em; }
.text-light, .text-block .text-light { font-weight: 300; }

.text-block p { line-height: 1.61; font-size: 1.125rem; }

.h-line {
  overflow: hidden; height:49px;
  background: transparent url("h-line.png") no-repeat center center;
}

h1, h2, h3 { font-family: var(--font-complementary); color: var(--color-brand-silver); }
h1 { font-size: 3.5rem; margin: 0 0 0.5em; font-weight: 400; }
h2 { font-size: 2.5rem; margin: 1.5em 0 0.5em; font-weight: 400; }
h3 { font-size: 1.625rem; margin: 1.5em 0 0.5em; font-weight: 400; }
