.hp-intro-block {
    position: relative; height: 100vh; max-height: 920px;
    background: transparent url("hp-intro-image.jpg") no-repeat right bottom;
    background-size: cover;

    .mask-layer {
        position: absolute; z-index: 26; left: 0; top: 0; right: 0; bottom: 0;
        background-color: rgba(0, 0, 0, 0.72);
    }

    .content-layer {
        position: absolute; z-index: 28; left: 0; top: 0; right: 0; bottom: 0;
        display: flex; flex-flow: column nowrap; justify-content: center; align-items: center;

        img {
            display: block; height: 78%; width: auto; min-height: 265px;
        }

        .slogan {
            font-family: var(--font-complementary); letter-spacing: 0.05em;
            color: white; font-weight: 800; font-size: 0.813rem;
            text-align: center; line-height: 1.4; padding: 0 2rem;
        }
    }
}