:root {
	--color-text: #313131;
	--color-text-light: #878787;
	--color-text-dark: #030202;
	
	--color-brand: #255475;
	--color-brand-silver: #8d9093;
	--color-brand-light: #4daeff;
	--color-complementary: #f57fe0;
  
	--color-border: #cecece;

	--color-grey-dark: #808080;
	--color-grey-medium: #ededed;
	--color-grey-light: #f2f2f2;
	--color-grey-xlight: #f5f5f5;
	--color-grey-xxlight: #f9f9f9;
	
	--font-base: 'Roboto', sans-serif;
	--font-complementary: 'Raleway', sans-serif;
	
	--max-content-width: 1366px;
	--max-text-width: 840px;
	//a8a9ab
	//8d9093 silver 877 C
}
