@import "variables";

html, body { margin: 0; font-size: 16px; line-height: normal; }

body {
  font-family: var(--font-base);
  color: var(--color-text); background: white none;
}



@import "common";
@import "top-menu-block";
@import "hp-intro-block";
@import "footer";
@import "chess-layout";
@import "top-bar";

@import "bp-960-max";
