:root {
  --color-text: #313131;
  --color-text-light: #878787;
  --color-text-dark: #030202;
  --color-brand: #255475;
  --color-brand-silver: #8d9093;
  --color-brand-light: #4daeff;
  --color-complementary: #f57fe0;
  --color-border: #cecece;
  --color-grey-dark: #808080;
  --color-grey-medium: #ededed;
  --color-grey-light: #f2f2f2;
  --color-grey-xlight: #f5f5f5;
  --color-grey-xxlight: #f9f9f9;
  --font-base: 'Roboto', sans-serif;
  --font-complementary: 'Raleway', sans-serif;
  --max-content-width: 1366px;
  --max-text-width: 840px;
}

html, body {
  margin: 0;
  font-size: 16px;
  line-height: normal;
}

body {
  font-family: var(--font-base);
  color: var(--color-text);
  background: white none;
}

a {
  color: var(--color-brand);
  transition: all 0.3s;
}
a:hover {
  color: #cd3200;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
}
figure img {
  display: block;
  width: 100%;
  height: auto;
}

.inner-row {
  max-width: var(--max-content-width);
  margin: 0 auto;
  position: relative;
}
.inner-row.text-block {
  max-width: var(--max-text-width);
}

.h-padding {
  padding: 0 1.5rem;
}

.v-spacer-small {
  overflow: hidden;
  height: 1rem;
}

.v-spacer-normal {
  overflow: hidden;
  height: 2rem;
}

.v-spacer-large {
  overflow: hidden;
  height: 4rem;
}

.text-align-center, .text-block .text-align-center {
  text-align: center;
}

.text-align-left, .text-block .text-align-left {
  text-align: left;
}

.text-align-right, .text-block .text-align-right {
  text-align: right;
}

.text-align-justify, .text-block .text-align-justify {
  text-align: justify;
}

.text-color-brand, .text-block .text-color-brand {
  color: var(--color-brand);
}

.text-enlarged, .text-block .text-enlarged {
  font-size: 1.313em;
}

.text-light, .text-block .text-light {
  font-weight: 300;
}

.text-block p {
  line-height: 1.61;
  font-size: 1.125rem;
}

.h-line {
  overflow: hidden;
  height: 49px;
  background: transparent url("h-line.png") no-repeat center center;
}

h1, h2, h3 {
  font-family: var(--font-complementary);
  color: var(--color-brand-silver);
}

h1 {
  font-size: 3.5rem;
  margin: 0 0 0.5em;
  font-weight: 400;
}

h2 {
  font-size: 2.5rem;
  margin: 1.5em 0 0.5em;
  font-weight: 400;
}

h3 {
  font-size: 1.625rem;
  margin: 1.5em 0 0.5em;
  font-weight: 400;
}

.top-menu-block {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  background: #a8a9ab none;
  transition: all 0.3s;
}
.top-menu-block .inner-row.menu-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding: 12px 0;
}
.top-menu-block .inner-row.menu-container {
  display: none;
  padding: 24px 0;
}
.top-menu-block .inner-row.menu-container .menu {
  padding: 0;
  margin: 0;
}
.top-menu-block .inner-row.menu-container .menu li {
  list-style-type: none;
  font-size: 1.125rem;
  margin-bottom: 12px;
  padding: 0;
  text-align: center;
}
.top-menu-block .inner-row.menu-container .menu li:last-child {
  margin-bottom: 0;
}
.top-menu-block .inner-row.menu-container .menu li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: var(--font-complementary);
}
.top-menu-block .inner-row.menu-container .menu li a:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.top-menu-block .inner-row.menu-container .menu li.social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.top-menu-block .inner-row.menu-container .menu li.social a {
  margin: 0 7px;
  padding: 0;
  cursor: pointer;
  display: block;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #020304;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.top-menu-block .inner-row.menu-container .menu li.social a.twitter {
  background-image: url("menu-icon-twitter.png");
}
.top-menu-block .inner-row.menu-container .menu li.social a.fb {
  background-image: url("menu-icon-facebook.png");
}
.top-menu-block.menu-is-open {
  background: #a8a9ab none;
}

.home .top-menu-block {
  background: transparent none;
}
.home .top-menu-block.menu-is-open {
  background: rgba(82, 75, 240, 0.95) none;
}

.menu-toggle-button {
  width: 56px;
  height: 56px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 50%;
  overflow: hidden;
}
.menu-toggle-button span {
  display: block;
  position: absolute;
  z-index: 110;
  top: 27px;
  left: 12px;
  right: 12px;
  height: 2px;
  background-color: #ffffff;
}
.menu-toggle-button span:before, .menu-toggle-button span:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  content: " ";
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}
.menu-toggle-button span:before {
  top: -6px;
  transition-property: top, transform;
}
.menu-toggle-button span:after {
  bottom: -6px;
  transition-property: bottom, transform;
}
.menu-toggle-button.menu-is-open span {
  background: none;
}
.menu-toggle-button.menu-is-open span:before {
  top: 0;
  transform: rotate(45deg);
}
.menu-toggle-button.menu-is-open span:after {
  bottom: 0;
  transform: rotate(-45deg);
}
.menu-toggle-button.menu-is-open span:before, .menu-toggle-button.menu-is-open span:after {
  transition-delay: 0s, 0.3s;
}

.home .menu-toggle-button.scrolled {
  background-color: rgba(174, 44, 241, 0.5) !important;
}

.hp-intro-block {
  position: relative;
  height: 100vh;
  max-height: 920px;
  background: transparent url("hp-intro-image.jpg") no-repeat right bottom;
  background-size: cover;
}
.hp-intro-block .mask-layer {
  position: absolute;
  z-index: 26;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.72);
}
.hp-intro-block .content-layer {
  position: absolute;
  z-index: 28;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.hp-intro-block .content-layer img {
  display: block;
  height: 78%;
  width: auto;
  min-height: 265px;
}
.hp-intro-block .content-layer .slogan {
  font-family: var(--font-complementary);
  letter-spacing: 0.05em;
  color: white;
  font-weight: 800;
  font-size: 0.813rem;
  text-align: center;
  line-height: 1.4;
  padding: 0 2rem;
}

.footer .contact-us p {
  font-family: var(--font-complementary);
  font-size: 0.875rem;
  text-align: center;
}
.footer .social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.footer .social a {
  margin: 0 7px;
  padding: 0;
  cursor: pointer;
  display: block;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.footer .social a.twitter {
  background-image: url("twitter.png");
}
.footer .social a.fb {
  background-image: url("facebook.png");
}
.footer .social a.youtube {
  background-image: url("youtube.png");
}
.footer .bottom-section .links {
  margin: 2rem 0 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
.footer .bottom-section .links li {
  list-style-type: none;
  margin: 0 6px 12px;
}
.footer .bottom-section .links li a {
  font-family: var(--font-complementary);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.875rem;
  white-space: nowrap;
}
.footer .bottom-section img {
  display: block;
  margin: 0 auto 40px;
  width: 120px;
  height: auto;
}
.footer .bottom-section .copyright {
  color: var(--color-brand-silver);
  font-size: 0.875rem;
  text-align: center;
  margin: 0 0 26px;
}

.chess-layout {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.chess-layout > div {
  flex: 1;
  width: 50%;
}
.chess-layout .img-block {
  padding: 0 1.25rem 0 0;
}
.chess-layout .img-block img {
  display: block;
  width: 100%;
  height: auto;
}
.chess-layout .text-block {
  padding: 0 0 0 1.25rem;
}
.chess-layout .text-block p {
  font-size: 1.313rem;
  font-weight: 300;
  text-align: justify;
  margin-top: 0;
}
.chess-layout.img-right .img-block {
  order: 2;
  padding: 0 0 0 1.25rem;
}
.chess-layout.img-right .text-block {
  order: 1;
  padding: 0 1.25rem 0 0;
}

.top-bar {
  background-color: var(--color-brand-silver);
}
.top-bar img.top-bar-hedgehog-text {
  display: block;
  height: 78px;
  width: auto;
}

@media only screen and (max-width: 960px) {
  .v-spacer-small {
    overflow: hidden;
    height: 1rem;
  }

  .v-spacer-normal {
    overflow: hidden;
    height: 1.75rem;
  }

  .v-spacer-large {
    overflow: hidden;
    height: 2.5rem;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.125rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .chess-layout {
    flex-direction: column;
  }
  .chess-layout > div {
    flex: auto;
    width: 100%;
  }
  .chess-layout .img-block {
    padding: 0 0 1.5rem;
  }
  .chess-layout .img-block img {
    display: block;
    width: 100%;
    height: auto;
  }
  .chess-layout .text-block {
    padding: 0;
  }
  .chess-layout.img-right .img-block {
    order: 1;
    padding: 0 0 1.5rem;
  }
  .chess-layout.img-right .text-block {
    order: 2;
    padding: 0;
  }
}
